aiofiles
altair
annotated-types
anyio
attrs
blinker
certifi
charset-normalizer
click
colorama
contourpy
cycler
exceptiongroup
fastapi
ffmpy
filelock
Flask
Flask-Cors
fonttools
fsspec
gradio
gradio_client
h11
httpcore
httpx
huggingface-hub
idna
importlib-metadata
importlib-resources
itsdangerous
Jinja2
jsonschema
jsonschema-specifications
kiwisolver
markdown-it-py
MarkupSafe
matplotlib
mdurl
numpy
opencv-python
orjson
packaging
pandas
Pillow
pkgutil_resolve_name
pydantic
pydantic_core
pydub
Pygments
pyparsing
python-dateutil
python-multipart
pytz
PyYAML
referencing
requests
rich
rpds-py
semantic-version
shellingham
six
sniffio
starlette
tomlkit
toolz
torch
torchaudio
torchvision
tqdm
typer
typing_extensions
tzdata
urllib3
uvicorn
websockets
Werkzeug
zipp